In [10]:
import pandas as pd
import zipfile
# pip install zipfile36

In [11]:
# read each file into a variable
# jan21 = pd.read_csv('JC-202101-citibike-tripdata.csv')
feb21 = pd.read_csv('JC-202102-citibike-tripdata.csv')
mar21 = pd.read_csv('JC-202103-citibike-tripdata.csv')
abr21 = pd.read_csv('JC-202104-citibike-tripdata.csv')
may21 = pd.read_csv('JC-202105-citibike-tripdata.csv')
jun21 = pd.read_csv('JC-202106-citibike-tripdata.csv')

In [12]:
# concatenate all files in a single dataframe
first_sem_df = pd.concat([feb21,mar21,abr21,may21,jun21])

In [15]:
first_sem_df.describe()

           start_lat      start_lng        end_lat        end_lng
count  162249.000000  162249.000000  161750.000000  161750.000000
mean       40.727267     -74.043144      40.727104     -74.042757
std         0.011364       0.012478       0.011490       0.012401
min        40.706575     -74.086701      40.646377     -74.086701
25%        40.718488     -74.049637      40.718355     -74.048790
50%        40.725289     -74.042817      40.724605     -74.042435
75%        40.735937     -74.033551      40.735938     -74.033552
max        40.754530     -74.024352      40.848467     -73.891677

In [13]:
first_sem_df.to_csv('firstsemester21.csv')